.wrapper{
    font-size: 1.6rem;
    font-weight: 500;
    width: 422px;

}

.product-detail{
    height: 108px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    margin-bottom: 30px;

}




 ::-webkit-scrollbar {
    width: 4px; 
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.card-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-product:not(:last-child) {
    margin-bottom: 10px;
}

.img-product{
    width: 54px;
    height: 54px;
}

.payment{
    display: flex;
    justify-content: space-between;
}

.payment{
    padding-bottom: 8px;
    margin-bottom: 16px;


}

// .payment:not(:last-child){
//     border-bottom: 3px solid rgba(35, 34, 34, 0.09);
// }

.checkout-speprator{
  margin-bottom: 20px;
}

.text{}

.price{

}

.payment-method{
  display: flex;
  flex-direction: column;
}

.payment-bank{
  display: flex;
  justify-content: left; 
}

.payment-bank, .COD{
  margin-bottom: 30px;
  font-size: 26px;
}

 .COD-option{
  // display: flex;
  // justify-content: space-between;
  // margin-bottom: 100px;
  // flex-direction: column;
  border: 0px;
  width: 100%;
  height: 20px;
  accent-color: var(--primary);
  margin-left: -200px;

}

.payment-bank, .radiobtn{
  font-size: 26px;
  border: 0px;
  width: 100%;
  height: 20px;
  accent-color: var(--primary);
  margin-left: -80px;
}



.heading-dialog{
  display: flex;
  justify-content: space-between;
}

.close-icon{
  font-size: 28px;

}




.bank-img{
  
  img {
    max-width: 42px;
    max-height: 28px;
  }   

  img + img {
    margin: 0 7px;
  }

  
}

.coupon-apply{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.coupon-input{
  margin-right: 30px;
  flex: 1;
}

.coupon-btn{
  padding: 0 50px;
}

.placeorder-btn{
  padding: 9px 50px;
}


input + span, h1 + span {
  margin: 30px 0 0;

}

.input-text:last-of-type{
  margin-bottom: 30px;
}


.input-title{
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4px;
}

.input-text{
  
}

.title{
  font-size: 3.6rem;
  font-weight: 900;
}






