.table{
    font-size: 1.6rem;
}

img{
    width: 54px;
    height: 54px;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;


    p{
        
        margin: 0 20px 0 6px;
    }

}