.search,
.search-result {
    max-width: 80%;

}

.search-result {
    width: 835px;

}

.search {
    position: relative;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, .06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        // height: 100%;
        caret-color: red;
        font-family: var(--font-family);;
        
        color: var(--black);
        font-size: 1.6 rem;

        padding: 12px 0;
        background-color: transparent;
        padding-right: 40px;
        border-color: transparent;
        outline: none; 

        
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, .12);

    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, .2);
    }
}



.search-title{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, .34);
}

.clear{
    border-color: transparent;
}

.loading{
    animation: spinner 0.8s linear infinite;
}

.search-btn{
    width: var(--search-button-width);
    font-size: 20px;
    color:  rgba(22, 24, 35, .5);
    border-color: transparent;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    
    &:active {
        background-color: rgba(22, 24, 35, .06);
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, .03);
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px){

}

@media only screen and (max-width: 768px)  {
    
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    
}

@media only screen and (max-width: 767px) {
    
    .search{
        width: 400px;
    }
   
}


@media only screen and (max-width: 479px){
    
}
