.productlist-container{
    height: 1000px;
}
.filter-by-brand{
}

.title-brand{

    font-size: 20px;
    font-weight: 600;
}

.filter-separator{
    margin: 10px 0 28px;
}

.name-brands{
    display: flex;
    flex-direction: column;
    max-height: 160px;
    overflow-y: auto; 

}

.name-brand{
    display: flex;
    align-items: center;
}

.checkbox-brand{
    .ant-checkbox-inner {
        width: 16px;
        height: 16px;
    }
}

.filter-by-price{
    margin-top: 10px;
}

.slider-price{
    // ba: var(--primary);
    font-size: 50px;
}

