.wrapper{
    width: 100%;
    display: flex;
    
    button + button {
        margin: 30px 0 0;
    }

    input + input {
        margin: 30px 0 0;
    
    }

}

.signup-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.signup-inner{
    width: 371px;

    display: flex;
    flex-direction: column;
}

// .name + .email {
//     margin: 30px 0 0;
// }

// .name + .email + .password {
//     margin: 30px 0 0;
// }



.email{
    
}

.signup-title{
    font-size: 36px;
    font-weight: 500;
}

.signup-subtitle{
    font-size: 16px;
    font-weight: 500;
}

.signup-input{
    margin: 40px 0 ;
    display: flex;
    flex-direction: column;
}


.signup-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-signup,
.btn-forgot{
    min-height: 56px;
    font-weight: 200;
    width: 100%;
}

.btn-signup{
    // background-color: var(--primary);
}
.btn-forgot{
    color: var(--black);

}



.remind-signup{
    font-size: 1.6rem;
    padding-top: 20px;
}

.signup-text {
    min-width: 0;
    line-height: 1.6;
    border-bottom: 1px solid #000;
    padding: 0 ;
    border-radius: 0;
    margin: 0 ;
    margin-left: 10px;

}
