.wrapper{
    position: relative;
    // padding: 5px;
    // margin: 30px !important;
    height: 100%;
    border: 3px solid var(--primary);
    border-radius: 8px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.inner{
    height: 50%;
    width: 88%;
    margin: 10px 0 40px 0;
}

.label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 8px 0 0 0;
    color: var(--black);
    text-transform: uppercase;
    font-size: 40;
    font-weight: 90;
}