.wrapper{
    width: 170px;
    height: 145px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 60px 12px 0;
    border-radius: 4px;

    display: flex;
    align-items: center;
}

.wrapper.active{
    border: 3px solid rgba(249, 91, 43, 1);
}

.inner{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

    .img{
        width: 66px;
        height: 66px;
    }

    .name{
        font-size: 16px;
    }
}